// Form Styles
// ===========

.form {
  min-width: 340px;

  .form-fieldset {
    border: 0;
    padding: 0;
    margin: 0 0 26px;
  }

  .form-label {
    width: 200px;
    text-transform: uppercase;
    .font-sansN6;
    margin-top: 5px;
  }
}

@import 'form/utils/input';
@import 'form/*.less';
